/* Home Page*/
#home {
    padding-left: 5%;
    padding-right: 5%;
}
#home-heading {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#home-heading h1 {
    font-size: 30px;
    color: var(--browndark);
    margin: 0;
}
#home-heading p {
    font-size: 20px;
    text-align: center;
    color: var(--brown)
}

#home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--browndark);
   
}

#specialMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--browndark);
}

.specialMenuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.image-holder img {
    height: 300px;
    width: 400px;
    border: solid 1px var(--offwhite);
}
#home-footer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: blanchedalmond;
    padding-bottom: 100px;
}

#home-hours {
    color: wheat;
    column-gap: 20px;
}


/* Menu Page*/

#menu {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    color: var(--browndark)
    
}
#menu h1 {
    margin: 0;
    text-align: center;
}
.menuItems {
    display: flex;
    align-items: center;
}

.menuPrice {
    margin-left:auto;
}
#menuFooter {
    color: var(--offwhite);
    margin-top: 100px;
    text-align: center;
}

/* About Page*/